{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}

{% block css %}
<style type="text/css">
    .portafolio{
        position: relative !important;
    }
</style>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".hyper").attr("href", "https://en.cerrocastillocapital.cl/investments_privateequity");
    });
</script>
{% end %}

{% block body %}
{% if is_admin %} {% set editabletext = 'editabletext' %} {% else %} {% set editabletext = '' %} {% end %}

<section class="container-fluid banner">
    {% if is_admin %}
    <div class="image-upload lapiz visible-movil">
        <label for="img_banner_investmentdeuda">
            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
        </label>
        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda" name="image" id="img_banner_investmentdeuda">
    </div>
    {% end %}
    <img id="{{ site.name }}_banner_investmentdeuda" src="{{ read_image(site.name + '_banner_investmentdeuda', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda',) }}'"
        class="banner-bg" alt="item">
    <div class="banner-copy banner-copy-right">
        <h1 class="banner-title banner-por approach-title {{editabletext}}" text-id="{{ site.name + '_investmentdeuda' }}"> {{ read_text(site.name + '_investmentdeuda') }}</h1>
    </div>
</section>

<section class="container investments">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text text-big text-black investments-title {{editabletext}}" text-id="{{ site.name + '_editinvestdeuda' }}"> {{ read_text(site.name + '_editinvestdeuda') }}</h2>
            <div class="investments-list">
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_1">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_1" name="image" id="img_banner_investmentdeuda_1">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_1" src="{{ read_image(site.name + '_banner_investmentdeuda_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_1',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_nueve' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_nueve') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_diez' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_diez') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_once' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_once') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_doce' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_doce') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_trece' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_trece') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_catorce' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_catorce') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_quince' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_quince') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_dieciseis' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_dieciseis') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_2">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_2" name="image" id="img_banner_investmentdeuda_2">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_2" src="{{ read_image(site.name + '_banner_investmentdeuda_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_2',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_a' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_a') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_b' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_b') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_c' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_c') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_d' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_d') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_e' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_e') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_f' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_f') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_g' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_g') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_h' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_h') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_3">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_3" name="image" id="img_banner_investmentdeuda_3">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_3" src="{{ read_image(site.name + '_banner_investmentdeuda_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_3',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_dieciocho' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_dieciocho') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_diecinueve' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_diecinueve') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veinte' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veinte') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintidos' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintidos') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintitres' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintitres') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veinticuatro' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veinticuatro') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veinticinco' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veinticinco') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintiseis' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintiseis') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- OCULTAR HASTA NUEVO AVISO
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_4">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_4" name="image" id="img_banner_investmentdeuda_4">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_4" src="{{ read_image(site.name + '_banner_investmentdeuda_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_4',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintisiete' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintisiete') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintiocho' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintiocho') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_veintinueve' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_veintinueve') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treinta' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treinta') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintayuno' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintayuno') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaydos' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaydos') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaytres' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaytres') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaycuatro' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaycuatro') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_5">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_5" name="image" id="img_banner_investmentdeuda_5">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_5" src="{{ read_image(site.name + '_banner_investmentdeuda_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_5',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaycinco' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaycinco') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintayseis' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintayseis') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaysiete' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaysiete') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintayocho' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintayocho') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_treintaynueve' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_treintaynueve') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarenta' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarenta') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentayuno' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentayuno') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaydos' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaydos') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_6">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_6" name="image" id="img_banner_investmentdeuda_6">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_6" src="{{ read_image(site.name + '_banner_investmentdeuda_6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_6',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaytres' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaytres') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaycuatro' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaycuatro') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaycinco' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaycinco') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentayseis' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentayseis') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaysiete' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaysiete') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentayocho' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentayocho') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cuarentaynueve' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cuarentaynueve') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuenta' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuenta') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="investments-item">
                    <div class="investments-item-logo">
                        {% if is_admin %}
                        <div class="image-upload banner-invest lapiz visible-movil portafolio">
                            <label for="img_banner_investmentdeuda_7">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png"
                                    onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';"
                                    onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_investmentdeuda_7" name="image" id="img_banner_investmentdeuda_7">
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_banner_investmentdeuda_7" src="{{ read_image(site.name + '_banner_investmentdeuda_7', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_investmentdeuda_7',) }}'"
                            class="investments-item-logo-img" alt="item">
                    </div>
                    <div class="investments-item-copy">
                        <ul class="investments-item-info">
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentayuno' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentayuno') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentaydos' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentaydos') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentaytres' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentaytres') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentaycuatro' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentaycuatro') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentaycinco' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentaycinco') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentayseis' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentayseis') }}</div>
                            </li>
                            <li class="investments-item-info-item">
                                <div class="text text-black text-big-med investments-item-info-item-key {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentaysiete' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentaysiete') }}</div>
                                <div class="text text-big-med investments-item-info-item-value {{editabletext}}" text-id="{{ site.name + '_textoinvestdeuda_cincuentayocho' }}">
                                {{ read_text(site.name + '_textoinvestdeuda_cincuentayocho') }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>

{% include '../home/footer.html' %}
{% end %}
